*

!.vscode/
!.vscode/tasks.json
!bash-commands
!bash-commands--custom/
!bash-commands--custom/chromium--open-application-url.sh
!bash-commands--custom/nginx--update-configuration.sh
!bash-util
!docker/
!docker/server--tine20/
!docker/server--tine20/rootfs/
!docker/server--tine20/rootfs/etc/
!docker/server--tine20/rootfs/etc/logrotate.d/
!docker/server--tine20/rootfs/etc/logrotate.d/tine20-tinebase
!docker/server--tine20/rootfs/etc/tine20/
!docker/server--tine20/rootfs/etc/tine20/php7.2.ini
!docker/server--tine20/rootfs/opt/
!docker/server--tine20/rootfs/opt/server--tine20/
!docker/server--tine20/rootfs/opt/server--tine20/entrypoint.sh
!docker/server--tine20/rootfs/templates/
!docker/server--tine20/rootfs/templates/apache.conf
!docker/server--tine20/rootfs/templates/config.inc.php.dist
!docker/server--tine20/default.docker
!docker-compose/
!docker-compose/server--tine20/
!docker-compose/server--tine20/default.docker-compose
!images/
!images/infrastructure-setup.png
!images/infrastructure-setup.xml
!.gitignore
!.gitmodules
!container.env
!host.env
!install-dependencies.sh
!LICENCE
!nginx.env
!README.md
